@import '../base/variables';

.buttonMenu {
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   transform: scaleX(0);
  //   height: 2px;
  //   bottom: 0;
  //   left: 0;
  //   background-color: rgba(255, 255, 255, 0.8);
  //   transform-origin: bottom right;
  //   transition: transform 0.45s ease-out;
  // }

  // &:hover::after {
  //   transform: scaleX(1);
  //   transform-origin: bottom left;
  // }
}

.menu_nav{
  display: flex;
  align-items: center;
}

.buy_now {
  border-radius: 0%;
  color: $primaryColor;
  font-size: 13px;
  border: 2px solid;
  border-color: $primaryColor;
  background-color: white;
  
  &:hover {
    color: $riceColor;
    border: 2px solid;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
