.body {
    padding-right: 0px !important;
}
.text_link {
    padding: 10px;
    background-color: #ee4949;
    border-radius: 5px;
    a {
        text-decoration: none;
        background-color: #ee4949 !important;
    }
}
.buttonMenu {
    position: relative;
}

.menu_nav {
    display: flex;
    align-items: center;
    color: #fff;
}

// Button modal search

.button_search {
    background-color: #ee4949;
    color: #eaeaea;
    width: 125px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

// DrawerLayout Css
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    background-color: #fff;
}
