.buttonMenu {
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   transform: scaleX(0);
  //   height: 2px;
  //   bottom: 0;
  //   left: 0;
  //   background-color: rgba(255, 255, 255, 0.8);
  //   transform-origin: bottom right;
  //   transition: transform 0.45s ease-out;
  // }

  // &:hover::after {
  //   transform: scaleX(1);
  //   transform-origin: bottom left;
  // }
}