.body{
    padding-right: 0px !important;
}

.buttonMenu {
    position: relative;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   transform: scaleX(0);
    //   height: 2px;
    //   bottom: 0;
    //   left: 0;
    //   background-color: rgba(255, 255, 255, 0.8);
    //   transform-origin: bottom right;
    //   transition: transform 0.45s ease-out;
    // }

    // &:hover::after {
    //   transform: scaleX(1);
    //   transform-origin: bottom left;
    // }
}

.menu_nav {
    display: flex;
    align-items: center;
}

// Button modal search

.button_search {
    background-color: #ee4949;
    color: #eaeaea;
    width: 125px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}


// DrawerLayout Css 
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    background-color: #fff;
}