@import '../base/variables';
@import '../base/mixins';

.footer {

    &Logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        padding-right: 15px;

        @include responsive(max_lg) {
            align-items: center;
        }
    }

    &Content {
        h4 {
            font-size: 17px;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 20px;
            position: relative;
            padding-left: 20px;

            &::before {
                content: '';
                position: absolute;
                width: 8px;
                height: 100%;
                background-color: $primaryColor;
                border-radius: 100rem;
                top: 0;
                left: 0;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                font-size: 14px;
                transition: all linear 0.3s;
                font-weight: 500;
                margin-bottom: 5px;
            }
        }
    }

    &Divider {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.204);
        margin-top: 20px;
    }
}
