// Common class
.MuiButtonBase-root,
.MuiInputBase-root {
  font-family: $primaryFont;
  letter-spacing: 0;
}

.MuiInputBase-root {
  font-size: 14px;
}

.MuiChip-root {
  font-weight: 600;
}

// Independent class
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  top: 60px !important;
}