@import 'variables';
@import 'reset';
@import 'mixins';
@import 'custom';

li {
    button {
        background-color: #ee4949 !important;
    }
}

// css Carousel Mui Reactive 
.css-1abc02a{
    padding-left: 30%;
}
.css-hn784z{
    padding-right: 30%;
}
.css-1m9128y{
    position: relative;
    margin-top: -20px;
    z-index: 99;
}
.css-smmb7 {
    margin-bottom: 30px;
}